body {
  background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
  font-family: 'Tahoma', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.container {
  background: rgba(255,255,255,0.1);
  padding: 30px;
  width: 350px;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}

.select-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

select {
  width: 45%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
}

button {
  width: 100%;
  padding: 12px;
  background: #00c6ff;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  color: #000;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #00f2fe;
}

.result {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}
